{% extends "../templates/rsvp/base.html" %}

{% block content %}
Please enter the names of those that will be attending the reception
<form action="/rsvp/submitInfo/" method="post">{% csrf_token %}
Adults<br>
{% for i in adultsAttendingRange %}
<input id="adultName{{ i }}" type="text" name="adultNames" maxLength="30"/><br>
{% endfor %}

{% if childrenAttending !=  0 %}
Children<br>
{% for i in childrenAttendingRange %}
<input id="childName{{ i }}" type="text" name="childrenNames" maxLength="30"/><br>
{% endfor %}
{% endif %}
<br>
<br>
Please describe any special dietary concerns:</br>
<textarea id="dietaryConcerns" name="dietaryConcerns" type="textarea" rows="4" cols="50">
</textarea><br>
<input type=submit value="Submit"/>
</form>
{% endblock %}
